@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';


@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .addressForm {
    border-top: $border-width solid $border-color;
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .addressForm {
    border-left: $border-width solid $border-color;
    border-top: none;
  }
}