@media (min-width: 0) {
  .addressForm {
    border-top: 1px solid #000000;
  }
}

@media (min-width: 992px) {
  .addressForm {
    border-left: 1px solid #000000;
    border-top: none;
  }
}

.modalBtn {
  width: 60px !important;
}