.categoryTile {
  div {
    width: 200px;
    height: 200px;

    img {
      width: 200px;
      height: 200px;
      transition: transform 0.25s ease-in;
    }
  }

  &:hover {
    div img {
      transform: scale(1.25, 1.25);
    }
  }
}
