@media (min-width: 0) {
  .carouselCol {
    border-bottom: 1px solid #000000;
  }
}

@media (min-width: 768px) {
  .carouselCol {
    border-right: 1px solid #000000;
    border-bottom: none;
  }
}

.formInput {
  width: 100px !important;
}