@media (min-width: 0) {
  .sidebarCol {
    border-bottom: $border-width solid $primary;
  }
}

@media (min-width: 992px) {
  .sidebarCol {
    border-right: $border-width solid $primary;
    border-bottom: none;
  }
}