.tr {
  border-bottom: 1.5px solid #ffffff;
}

.amountBtn {
  width: 30px;
  height: 30px;
}

.amountInput {
  width: 60px !important;
  height: 30px !important;
}

.cancelSymbol {
  opacity: unset !important;
  color: #ffffff !important;

  &:hover {
    color: #dc3545 !important;
  }
}

.itemCounter {
  position: absolute;
  top: 0;
  right: 0;
}