.amountBtn {
  width: 30px;
  height: 30px;
}

.amountInput {
  width: 60px !important;
  height: 30px !important;
}

.cancelSymbol {
  opacity: unset !important;
  color: #000000 !important;

  &:hover {
    color: #dc3545 !important;
  }
}
