@media (min-width: 0) {
  .singleInput {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .singleInput {
    width: 25%;
  }
}

.amountBtn {
  width: 45px;
  height: 45px;
}

.amountInput {
  width: 90px !important;
  height: 45px !important;
}

.cancelSymbol {
  opacity: unset !important;
  color: #000000 !important;

  &:hover {
    color: #dc3545 !important;
  }
}