@media (min-width: 0) {
  .accountNavCol {
    border-bottom: 1px solid #000000;
  }
}

@media (min-width: 992px) {
  .accountNavCol {
    border-right: 1px solid #000000;
    border-bottom: none;
  }
}