.slide {
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.slide1 {
  background-image: url('/carousel/slide-1.jpg');
}

.slide2 {
  background-image: url('/carousel/slide-2.jpg');
}