@media (min-width: 0) {
  .authProviders {
    border-top: 1px solid #000000;

    button {
      width: 100%;
    }
  }
}

@media (min-width: 576px) {
  .authProviders {
    button {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .authProviders {
    border-left: 1px solid #000000;
    border-top: none;
  }
}

.authProviderFacebook {
  background-color: #3b5897;

  &:hover {
    background-color: #334d84;
    cursor: not-allowed;
  }
}

.authProviderGoogle {
  background-color: #c93e22;

  &:hover {
    background-color: #b3371e;
  }
}

