.authProviderButton {
  width: 100%;
}

@media (min-width: 576px) {
  .authProviderButton {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .authProviderButton {
    max-width: 300px;
  }
}

.authProviderFacebook {
  background-color: #3b5897;

  &:hover {
    background-color: #334d84;
    cursor: not-allowed;
  }
}

.authProviderGoogle {
  background-color: #c93e22;

  &:hover {
    background-color: #b3371e;
  }
}
